 /* * {
   border: solid red 1px;
 } */

body {
  background-color: hsl(210, 46%, 95%);
  font-family: 'Manrope', sans-serif;
}

h1 {
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.8rem;
  color: hsl(217, 19%, 35%);
  margin-top: 10%;
}

h4 {
  font-size: 0.9rem;
  font-weight: 700;
  color: hsl(217, 19%, 35%);
  margin-bottom: 0.5rem;
}

p {
font-weight: 500;
color: hsl(214, 17%, 51%);
line-height: 1.4rem;
}

.container {
  display: flex;
  flex-direction: column;
  margin:5rem 1rem 5rem 1rem;
  align-items: center;
  background-color: #FFF;
  border-radius: 10px 10px 10px 10px;
}

.drawersImage {
  width: 100%;
  height: 16.1rem;
  background-image: url(images/drawers.jpg);
  background-size: 110%;
  background-repeat: no-repeat;
  border-radius: 10px 10px 0 0;
}

.main {
  padding: 0 5% 0 5%;
}

.main_social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main_social img {
border-radius: 50%;
width: 15%;
}

.main_social_info {
  position: relative;
  right: 10%;
}

.main_social_info p {
  margin-top: 0;
  font-size: 0.8rem;
}

.arrow_icon {
  background-color: hsl(210, 46%, 95%);
  padding: 2%;
  border-radius: 50%;
}

.share_sheet {
  width: 87%;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: hsl(214, 17%, 51%);
  border-radius: 0 0 10px 10px;
  padding: 2% 0 2% 0;
  position: absolute;
  top: 37.8rem;
}

.share_sheet p {
  color: hsl(210, 46%, 95%);
  padding: 0 2% 0 5%;
}

.share_sheet a {
  padding: 0 2% 0 2%;
}

.share_sheet .arrow_icon {
  position: absolute;
  right: 4.9%;
  top: 24%;
}

/* .hidden {
  display: none;
} */

@media screen and (min-width: 400px;) {
  .share_sheet {
    top: 37.8rem;
  }

}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 2.5rem;
    color: hsl(217, 19%, 35%);
    margin-top: 5%;
  }
  .container {
    position: relative;
    flex-direction: row;
    margin: 5rem 15rem 15rem 15rem;
  }

  .drawersImage{
      height: 23rem;
      background-position: 0.01rem center;
      background-size: 130%;
      border-radius: 10px 0 0 10px;
  }

  .main {
    width: 115%;
    padding: 0 3% 0 3%;
  }

  .main p {
    line-height: 1.7rem;
  }

  .main_social {
    padding-bottom: 4%;
  }

  .main_social_info {
    position:relative;
    right: 6rem;
  }

  .share_sheet {
      justify-content: space-around;
      width: 15%;
      position: absolute;
      top: 50%;
      right: -4%;
      padding: 0.5rem;
      border-radius: 10px;
    }

    .share_sheet .arrow_icon {
      display: none;
    }

    .share_sheet::after{
      content: "";
      position: absolute;
      top: 4rem;
      right: 40%;
      border-top: 20px solid hsl(214, 17%, 51%);
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
    }

  }

}
